html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

* {
    border: solid red;
}

img {
    margin-left: 20px;
    padding: 40px;
}

h1 {
    font-family: cursive;
    font-size: 42px;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 50px;
    margin-left: 20px;
    width: 800px;
    height: auto;
}

h3 {
    font-family: 'Lucida Sans', Verdana, sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    width: 800px;
    height: auto;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width: 800px;
    height: auto;
    margin-left: 20px;
    margin-top: 30px;
    padding: 10px 30px;
}

.recipe {
    color: aqua;
}

.list {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: indigo;
    color: darkorange;
    font-weight: 900;
    width: 700px;
    height: 100px;
    padding-top: 50px;
    padding-right: 60px;
    padding-bottom: 200px;
    padding-left: 60px;
    margin-bottom: 60px;
    margin-left: 40px;

}

.list.box {
    padding-bottom: 300px;
}

ol {
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

ol ul {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
}
